{% extends 'app/base.html' %}
{% load static %}

{% block extra_head %}
<title>Blog - Indian Institute of Drones | Military Certified Drone Pilot Instructors</title>
<meta name="keywords" content="drone pilot courses, online drone courses, fixed wing drone pilot training, multirotor drone pilot training">
<meta name="description" content="">

<style>
    :root{
        --transition-time: 0.5s;
    }
    .blog-header{
        background-image: linear-gradient(rgba(40, 59, 98, 0.6), rgba(40, 59, 98, 0.6)), url("/static/images/univ-header.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .blog-header h1{
        color: #fff;
        margin: 80px 0px;
        font-size: 3rem;   
    }
    .cards-wrapper{
        display: grid;
        justify-content: center;
        align-content: center;
        border-radius: 1em;
        background-size: cover;
        background-position: center;
        box-shadow: 0 0 3em -1em black;
        transition: all, var(--transition-time);
        border: 10px solid #ccc;
    }
    .cards-wrapper:hover{
        transform: scale(0.95)
    }
    .card-content{
        padding: 4rem 0.5rem 0.5rem;
    }
    .white-hr{
        border-color: #fff;
        margin-bottom: 0;
    }
    .black-hr{
        border-color: #000;
        margin-top: 0;
    }
    .blog-card{
        padding: 1rem 1rem;
        height: 25em;
        color: #fff;
        border-radius: 0.3rem;
        display: flex;
        align-items: flex-end;
        position: relative;
        overflow: hidden;
        text-decoration: none;
        transition: all, var(--transition-time);
    }
    .blog-card:hover{
        text-decoration: none;
        transform: rotate(0);
        color: var(--color);
        background: var(--color);
        color: #000;
    }
    .blog-card h1{
        margin: 0;
        font-size: 1.8em;
        line-height: 1.2em;
    }
    .blog-desc{
        font-size: 0.85em;
        margin-top: 1em;
        line-height: 1.8em;
    }
    .blog-card:before, .blog-card:after {
        content: '';
        transform: scale(0);
        transform-origin: top left;
        border-radius: 50%;
        position: absolute;
        left: -50%;
        top: -50%;
        z-index: -5;
        transition: all, var(--transition-time);
        transition-timing-function: ease-in-out;
    }
    .blog-card:hover:before, .blog-card:hover:after {
        transform: scale(1);
    }
    .blog-card:before {
        background: #ddd;
        width: 250%;
        height: 250%;
    }
    .blog-card:after {
        background: white;
        width: 250%;
        height: 250%;
    }
    .blog-card .date{
        position: absolute;
        top: 1em;
        right: 2em;
        padding: 2px;
        font-size: 1.2em;
    }
    .blog-author-img{
        display: inline-block;
        padding: 0px !important;
        height: 50px;
        width: 50px;
        border-radius: 50% 50%;
        margin-right: 10px;
    }
    .blog-author-name{
        font-size: 1.5em;
        font-weight: 500;
        margin: 0;
        display: inline-block;
        opacity: 0.9;
    }
    @media only screen and (max-device-width: 480px) {
        .blog-card{
        height: 28em;
        }
        .blog-card h1{
        font-size: 1.5em;
        line-height: 1.1em;
    }
    }
</style>

{% endblock %}

{% block content %}
<div class="container-fluid blog-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>BLOG</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row py-4">
            {% for article in object_list %}
            <div class="col-sm-6">
                <div class="cards-wrapper" style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url({{article.imageurl}});">
                    <div class="card-grid-space">
                        <a class="blog-card" href="{{ article.get_absolute_url }}">
                            <div class="card-content">
                                <h1>{{article.title}}</h1>
                                <p class="blog-desc">{{article.Description}}..</p>
                                <div class="date">{{article.Date}}</div>
                                <hr class="white-hr">
                                <hr class="black-hr">
                                <img class="blog-author-img" src="{{article.author.Img.url}}">
                                <p class="blog-author-name">{{article.author}}</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div class="row py-3">
            <div class="col-sm-12">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                    {% else %}
                    <li class="page-item disabled"><span class="page-link"><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
                    {% endif %}

                    {% if page_obj.number|add:'-4' > 1 %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'-5' }}">&hellip;</a></li>
                    {% endif %}

                    {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>

                    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.number|add:'5' }}">&hellip;</a></li>
                    {% endif %}

                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link"><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}