{% extends 'app/base.html' %}
{% load static %}


{% block content %}

<style>
    .pass-res{
        padding: 40px 0px;
    }
    .pass-res h1{
        font-size: 180%;
        padding-bottom: 10px;
    }
    .pass-res button{
        margin-top: 10px;
    }
</style>

<section class="pass-res">
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center ml-auto mr-auto">
                    <form method="POST" class="form-signin">
                    {% csrf_token %}
                        <div class="form-group">
                            <h1>Forgot Password</h1>
                            <input name="email" class="form-control" placeholder="Enter your registered email" type="email" required="True">
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <button class="btn btn-lg btn-primary" type="submit">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>





{% endblock %}