{% extends 'app/base.html' %}
{% load static %}
{% block extra_head %}


<style>

    body {
        font-family: Arial, Helvetica, sans-serif;
      }
      
      .column {
        float: left;
        width: 25%;
        padding: 0 10px;
      }
      
    
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
      
      /* Style the counter cards */
      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
        padding: 50px;
        text-align: center;
        background-color: #f1f1f1;
        margin-bottom:30px;
        margin-top:40px;
      }
      .card:hover{

      }
      
      /* Responsive columns - one column layout (vertical) on small screens */
      @media screen and (max-width: 600px) {
        .column {
          width: 100%;
          display: block;
          margin-bottom: 20px;
        }
      };
}
</style>
{% endblock %}

{% block content %}

<div class="container">
<div class="row">
{% for i in allentry %}
<div class="column">

  <div class="card">
  
      <img src="{{i.img.url}}" href="" />
      <h3>{{i.name}}</h3>
      <p>{{i.description1}}</p>
      <p>{{i.description2}}</p>
      <a href="{% url 'jobportal:modeldetail1' i.id %}"> Proceed </a> 
    </div>

  </div>


{% endfor %}

</div>
</div>
{% endblock %}


