{% extends 'app/base.html' %}
{% load static %}
{% block extra_head %}

{% load crispy_forms_tags %}
<title>Add Address - Indian Institute of Drones</title>

<style>
    
</style>

{% endblock %}

{% block content %}

<div class="container-fluid univ-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Add Shipping Address</h1>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
  <div class="container">
      <div class="row">
          <div class="col-sm-12 py-4">
            <form method="POST">
              {% csrf_token %}
              <div class="form-row">
                <div class="form-group col-sm-6">
                  {{ form.address_1|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6">
                  {{ form.address_2|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6">
                  {{ form.city|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6">
                  {{ form.state|as_crispy_field }}
                </div>
                <div class="form-group col-sm-6">
                  {{ form.zip_code|as_crispy_field }}
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Proceed</button>
            </form>
          </div>
      </div>
  </div>
</div>

{% endblock  %}



