<html>

<head>
    <title>Drone Pilot Certificate | Indian Institute of Drones</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicon/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicon/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicon/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/favicon/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'images/favicon/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">


    <style>
        .table>tbody>tr>td{
            border-top: 0px !important;
        }
        .certificate-container {
            position: relative;
            width: 1000px;
            height: 800px;
            border: 2px solid #000;
            padding-left: 30px;
        }

        .pfa-logo {
            text-align: right;
        }
        .pfa-logo img{
            padding-top: 60px;
            padding-right: 20px;
        }
        .pfa-heading {
            padding-top: 30px !important;
            font-weight: bold;
            font-size: 140%;
        }

        .student-image img {
            padding-right: 80px;
            padding-top: 40px;
            float: right;
        }
        .student-sign img{
            padding-right: 80px;
            float: right;
        }
        .bold{
            font-weight: bold;
        }
    </style>
</head>

<body>


    <div class="container-fluid">
        <div class="container">
            <div class="certificate-container">
                <div class="">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="pfa-logo">
                                    <img src="../../../static/images/Pilot Certificate/PFA logo.png" width="250px">
                                </td>
                                <td class="pfa-heading">
                                    PIONEER FLYING ACADEMY PRIVATE LIMITED<br>
                                    DHANIPUR AIRFIELD, ALIGARH, UTTAR PRADESH <br>
                                    <span class="student-image">
                                        <img src="../../../static/images/Pilot Certificate/abhinav.png" width="250px">
                                    </span>
                                </td>

                            </tr>

                            <tr>
                                <td class="bold">
                                    NAME:<br>
                                    ADDRESS:<br>
                                    PHOTO ID:
                                </td>
                                <td class="student-sign">
                                    <img src="../../../static/images/Pilot Certificate/signature.png" width="200px">
                                </td>
                            </tr>
                            <tr>
                                <td class="bold">SEX:</td>
                                <td class="bold">DOB:</td>
                            </tr>
                            <tr>
                                <td class="bold" colspan="2">
                                    1. HAS SUCCESSFULLY COMPLETED THE REMOTE PILOT TRAINING CAPSULE AS PER CIVIL AVIATION REQUIREMENTS SECTION 3 SERIES X PART I
                                </td>
                            </tr>
                            <tr>
                                <td class="bold" colspan="2">
                                    2. CERTIFICATE NUMBER: ______________________________________________
                                </td>
                            </tr>
                            <tr>
                                <td class="bold" colspan="2">
                                    3. DATE OF ISSUE: ______________________________________________
                                </td>
                            </tr>
                            <tr>
                                <td class="bold" colspan="2">
                                    4. CATEGORY OF RPA: ______________________________________________
                                </td>
                            </tr>
                            <tr>
                                <td class="bold" colspan="2">
                                    5. VALID FROM: ______________________________________________
                                </td>
                            </tr>
                            <tr class="signature-bottom text-center">
                                <td><img src="../../../static/images/Pilot Certificate/signature.png" width="80px"></td>
                                <td><img src="../../../static/images/Pilot Certificate/signature.png" width="80px"></td>
                            </tr>
                            <tr class="name-designation text-center">
                                <td class="bold">SAROJ JOSHI<br>(ACCOUNTABLE MANAGER)</td>
                                <td class="bold">LT CDR JOHN LIVINGSTONE (RETD) <br> (RPA TRAINER)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</body>

</html>