<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

<link href="https://fonts.googleapis.com/css2?family=Cherish&family=Open+Sans+Condensed:wght@300&family=Padauk&display=swap" rel="stylesheet">
<style>

.container
{
  position: relative;
  text-align: center;
  color: white;
}


.bottom-left {
  position: absolute;
  top: 10px;
  left: 26px;
  color:black;
}


  </style>
  </head>
  <body>


<div class="container">
<img src="C:\Users\Administrator\Desktop\iidcurrent2\IID-New-Website\ak.jpg" alt="Snow" style="width:100%;">
<div class="direction">IID domp no</div>

<div class="bottom-left">SHAKTI YADAV</div>

</div>

  </body>
</html>
