{% extends 'app/base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
<title>Fixed Wing Drone Pilot Course - Indian Institute of Drones | Best Drone Pilot Training Institute</title>
<meta name="keywords" content="Fixed-wing Drone Pilot Training, Drone Pilot Training, Micro Category Fixed-wing Drone Pilot Training, DGCA Approved Drone Training, UAOP Drone License Training, Drone License Training India">
<meta name="description" content="Fixed Wing Drone Pilot Course by Indian Institute of Drones. Get Certified by Ex - UAV Military Instructors. Become a UAV Pilot.">

<style>
     .page-header{
         background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)), url("/static/images/Courses/fixed-wing-header.jpg");
         background-position: center;
         background-size: cover;
         background-repeat: no-repeat;
         color: #fff;
    }
    .page-header h1{
        color: #fff;
        margin: 30px 0px 70px;
        font-size: 3rem;
    }
    .page-header h4{
        font-size: 1rem;
    }
    .page-header h5{
        font-size: 2.5rem
    }
    .div-cta{margin: 30px 0px 30px}
    .page-header a{
        text-decoration: none;
        color: #ff6830;
        font-size: 1.7rem;
        text-align: center;
        font-weight: bold;
        letter-spacing: 1px;
    }
    .page-header a:hover{text-decoration: none;color: #fff}
    .org-logo ul{
        list-style-type: none;
        padding: 0;
    }
    .org-logo ul li{
        display: inline-block;
        padding: 4px 5px;
    }
    .org-logo-img{width: 5vw;}
    .stat-num{
        font-size: 1.5rem;
        display: inline-block;
        padding-right: 5px;
        color: #ff6830;
    }
    .stat-text{
        display: inline-block;
        font-size: 1.5rem;
    }
    .num{
        display: inline-block;
        margin-right: 0.25rem;
        font-weight: 900;
        line-height: 1;
        font-size: 3.5rem;
    }
    .txt{
        text-transform: uppercase;
        font-size:25px;
        font-weight: 300;
        display: inline-block;
        line-height: 1.2;
        margin-left:100px;
    }
    .accordian-card{
        border: none!important;
    }
    .accordian-header{
        background-color: #fff!important;
        border-bottom: none!important;
    }
    .accordian-header:hover{
        background-color: rgba(68, 205, 255, 0.19)!important;
    }
    .accordian-header a{
        font-weight: 300;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.5rem;
        color: #ff6830;
    }
    .accordian-header a i{
        color:#000!important;
        padding-right: 15px;
    }
    .accordian-header a[aria-expanded=true] .fa-chevron-circle-right{display: none}
    .accordian-header a[aria-expanded=false] .fa-chevron-circle-down{display: none}
    .dayy{
        background-color: rgba(40, 59, 98, 0.9);
        padding: 0px 9px;
        border-radius: 4px;
        color: #fff;
        font-weight: 400;
    }
    .strongg{
        padding-left: 45px;
        margin: 0;
        font-weight: 500;
    }
    .curriculumm h5{font-weight: 400}
    .curriculumm ul{
        padding-left: 30px;
    }
    .curriculumm ul li{
        font-size: 0.9rem;
        padding: 4px 0px;
    }
    .benefitss-container{
        background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.86)), url("/static/images/Courses/benefits-bg.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat
    }
    .benefitss{
        max-width: 600px;
        border: 3px solid #283B62;
    }
    .benefitss ul{
        list-style-type: none;
        padding-left: 20px;
        margin: 20px 0;
    }
    .benefitss ul li{
        padding: 7px 0px;
        font-weight: 500;
        font-size: 1.1rem;
    }
    .benefitss ul li i{
        padding-right: 10px;
    }
    .accordian-faq{}
    .accordian-faq .card{
        border: none!important;
    }
    .accordian-faq .card-header{
        background-color: #fff;
        border-bottom: 1px solid #000!important;
    }
    .accordian-faq a[aria-expanded=false] .fa-chevron-circle-up{display: none}
    .accordian-faq a[aria-expanded=true] .fa-chevron-circle-down{display: none}


</style>
{% endblock %}

{% block content %}
<section class="course-detail-page">
    <div class="container-fluid page-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>{{course.title}}</h1>
                </div>

                
            </div>
            <div class="row">
                <div class="col-sm-12">
            
                    {% comment %} <h4>Pre-qualification required-Drone pilot training in Multirotor </h4> {% endcomment %}
                    <center>
                    <h5>Get hands-on How to Create 3D Models</h5>
                    </center>
                    <div class="text-center div-cta"><a href="#course-curriculum">View Curriculum</a></div>
                </div>
            </div>   
        </div>
    </div>
    
    <div class="container-fluid py-2 organization-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center py-3">
                    <h4 style="font-size: 1.2rem; padding-bottom: 10px">Organizations who trust us:</h4>
                    <div class="text-center org-logo">
                        <ul>
                            <li><img class="org-logo-img" src="{% static 'images/Organizations/drdo-logo.jpg' %}" alt="DRDO Logo"></li>
                            <li><img class="org-logo-img" src="{% static 'images/Organizations/dell-logo.jpg' %}" alt="Dell Logo"></li>
                            <li><img class="org-logo-img" src="{% static 'images/Organizations/army-logo.jpg' %}" alt="Indian Army Logo"></li>
                            <li><img class="org-logo-img" src="{% static 'images/Organizations/csir-logo.jpg' %}" alt="CSIR Logo"></li>
                            <li><img class="org-logo-img" src="{% static 'images/Organizations/iitm-logo.jpg' %}" alt="IITM Logo"></li>
                        </ul>
                    </div>
                    <div class="text-center org-logo">
                        <ul>
                            <li><img class="org-logo-img" src="{% static 'images/Organizations/sony-logo.jpg' %}" alt="Sony Logo"></li>
                            <li><img class="org-logo-img" src="{% static 'images/Organizations/greenko-logo.jpg' %}" alt="Greenko Logo"></li>
                            <li><img class="org-logo-img" src="{% static 'images/Organizations/geosys-logo.jpg' %}" alt="Geosys Logo"></li>
                            <li><img class="org-logo-img" src="{% static 'images/Organizations/reliance-logo.jpg' %}" alt="Reliance Logo"></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="text-center">
                        <div id="organizations" class="carousel slide" data-ride="carousel">
                            <ul class="carousel-indicators" style="">
                                <li data-target="#organizations" data-slide-to="0" class="active" style="background-color: #000;"></li>
                                <li data-target="#organizations" data-slide-to="1" style="background-color: #000;"></li>
                                <li data-target="#organizations" data-slide-to="2" style="background-color: #000;"></li>
                                <li data-target="#organizations" data-slide-to="3" style="background-color: #000;"></li>
                                <li data-target="#organizations" data-slide-to="4" style="background-color: #000;"></li>
                            </ul>
                            
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{% static 'images/Courses/3d-maping-1.jpg' %}" alt="Organizations Trained by Indian Institute of Drones" width="100%" height="auto">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'images/Courses/3d-maping-2.png' %}" alt="Organizations Trained by Indian Institute of Drones" width="100%" height="auto">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'images/Courses/3d-maping-3.jpeg' %}" alt="Organizations Trained by Indian Institute of Drones" width="100%" height="auto">
                                </div>
                          
                             
                            </div>
                            
                            <a class="carousel-control-prev" href="#organizations" data-slide="prev">
                                <i class="fas fa-arrow-circle-left" style="color: rgba(0, 0, 0, 0.5);"></i>
                            </a>
                            <a class="carousel-control-next" href="#organizations" data-slide="next">
                                <i class="fas fa-arrow-circle-right" style="color: rgba(0, 0, 0, 0.5);"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid py-3 highlights-container" id="course-curriculum">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h4>
                   
                        <span class="txt"><b> 2. Days of Training </b></span>
                    </h4>
                </div>
                <div class="col-sm-4">
                    <h4>
               
                        <span class="txt"> <b> How to Create 3D Models </b> </span>
                    </h4>
                </div>
               
                <div class="col-sm-4">
                    <h4>
                  
                        <span class="txt"><b> How to create other important geographical data </b></span>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid py-3 curriculum-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3 style="font-weight: 700; font-size: 2rem">Curriculum Designed as Per<br> Course</h3>
                </div>
            </div>
        </div>
        
        <div class="container" style="max-width: 400px;">
            <div class="row">
                <div class="col-sm-12">
                    <div id="accordion">
                        <div class="card accordian-card">
                            <div class="card-header accordian-header">
                                <a class="collapsed card-link stretched-link" data-toggle="collapse" href="#collapse1" aria-expanded="false">
                                    <i class="fas fa-chevron-circle-right"></i><i class="fas fa-chevron-circle-down"></i> Day <span class="dayy">01</span>
                                </a>
                                <p class="strongg">Introduction to 3D mapping & surveying</p>
                            </div>
                            <div id="collapse1" class="collapse" data-parent="#accordion">
                                <div class="card-body curriculumm">
                                    <h5>Indroduction </h5>
                                    <ul>
                                        <li>Introduction to 3D mapping & surveying</li>
                                        <li>Survey history</li>
                                        <li>Triangulation</li>
                                        <li>Terminologies</li>
                                        <li>Co-ordinate systems</li>
                                        <li>Control survey</li>

                                    </ul>
                                    <h5>3D Drone surveying</h5>
                                    <ul>
                                        <li>Current Drone surveys</li>
                                        <li>3D mapping</li>
                                        <li>SLAM: Simultaneous localization & mapping1</li>
                                        <li>Acoustic mapping</li>
                                        <li>Alternative sensors</li>
                                    </ul>
                                    <h5>Geo spatial infrastructure</h5>
                                    <ul>
                                        <li>Define GIS</li>
                                        <li>Principal applications of GIS</li>
                                        <li>Functions of GIS</li>
                                        <li>Components of GIS</li>
                                        <li>GIS data models</li>
                                    </ul>
                                    <h5>3D mapper softwares</h5>
                                    <ul>
                                        <li>	About 3D mapping softwares</li>
                                        <li>	3D mapper, principles & Innovation</li>
                                        <li>	Market application examples</li>
                                        <li>	cloud services </li>
                                        <li>	3D process </li>
                                    </ul>

                                    <h5>Practical sessions on 3D mapping process </h5>
                                    <ul>
                                        <li>capture images using software</li>
                                        <li>uploading images into mapper</li>
                                        <li>3D mapping processing</li>
                                        <li>output</li>
                                        <li>practical session</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                       
                      
                        <div class="card accordian-card">
                            <div class="card-header accordian-header">
                                <a class="collapsed card-link stretched-link" data-toggle="collapse" href="#collapse7" aria-expanded="false">
                                    <i class="fas fa-chevron-circle-right"></i><i class="fas fa-chevron-circle-down"></i> Day <span class="dayy">02</span>
                                </a>
                                <p class="strongg">Practical session </p>
                            </div>
                            <div id="collapse7" class="collapse" data-parent="#accordion">
                                <div class="card-body curriculumm">
                                    <h5>Practical session on how to analyze 3D mapping data</h5>
                                    <ul>
                                        <li>	Layers of a 3D Mapping</li>
                                        <li>	Analysing Evaluation Data</li>
                                        <li>	Performing Volumetric Calculations </li>
                                        <li>	Cut, Fill, and Volumetric Measurement Calculation </li>
                                        <li>	Lowest Point and Best Fit Base Planes Adjusting Histogram to Change Elevation Values</li>
                                   


                                    </ul>
                                    <h5>Using ground control points</h5>
                                    <ul>
                                        <li>Creating GCPs</li>
                                        <li>Placing GCPs</li>
                                        <li>Utilizing the GCP Checklist Submitting GCPs in 3D mapping softwares</li>
                                       
                                    </ul>
                                    <h5>Exporting your data</h5>
                                    <ul>
                                        <li>Export Options in 3D mapping softwares</li>
                                        <li>Static Layer Export Procedures</li>
                                        <li>Custom Layer Export Procedures</li>
                                        <li>Sharing Your Map </li>
                                    </ul>
                               
                            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid py-3 maps-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center py-2">
                    <h3 style="font-weight: 700; font-size: 2rem">Find A Training Center Near You</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <iframe src="https://www.google.com/maps/d/embed?mid=1E1KhfpgOlHZc63BlHAF5J2ek1vK-hrz2" width="100%" height="350px"></iframe>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid py-3 benefitss-container">
        <div class="container benefitss" style="max-width: 600px">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="text-center my-4" style="font-size: 1.6rem">Why Should You Do This Course?</h5>
                    <ul>
                        <li><i class="far fa-hand-point-right"></i>Get trained from expert instructors</li>
                        <li><i class="far fa-hand-point-right"></i>Perfect course for people who want to gain in depth knowledge in 3D mapping & surveying</li>
                        <li><i class="far fa-hand-point-right"></i> Explore the opportunities in Drone market </li>
                        <li><i class="far fa-hand-point-right"></i>Get hands on experience of 3D mapping & surveying</li>
                        <li><i class="far fa-hand-point-right"></i>To understand the drone based surveying</li>
               
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center pt-3">
                    <p style="font-size: 1rem;">Course fee: <span style="font-size: 1.3rem"><b>₹ {{course.price}}</b></span> <span style="font-size: 0.8rem">(incl. GST)</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center pb-3">
                    <a class="btn btn-lg btn-success" href="{% url 'app:add-to-cart' course.slug %}">SIGN ME UP!</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid py-3 faq-container">
        <div class="container" style="max-width: 900px">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="text-center py-2" style="font-size: 2rem">Frequently Asked Questions</h5>
                    <div id="accordion2" class="accordian-faq">
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link stretched-link" data-toggle="collapse" href="#collapse21" aria-expanded="false">
                                    Who can do this training?<span class="float-right"><i class="fas fa-chevron-circle-up"></i><i class="fas fa-chevron-circle-down"></i></span>
                                </a>
                            </div>
                            <div id="collapse21" class="collapse" data-parent="#accordion2">
                                <div class="card-body">
                                    <p>This course is designed for drone pilots looking to expand their skillset to include surveying, mapping, or modeling. It will lead you through the basics of drone surveying from flight planning to data capture.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link stretched-link" data-toggle="collapse" href="#collapse22" aria-expanded="false">
                                   What are the prerequisites for the course?<span class="float-right"><i class="fas fa-chevron-circle-up"></i><i class="fas fa-chevron-circle-down"></i></span>
                                </a>
                            </div>
                            <div id="collapse22" class="collapse" data-parent="#accordion2">
                                <div class="card-body">
                                    <p>Pre-qualification required-Drone pilot training in Multirotor</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link stretched-link" data-toggle="collapse" href="#collapse23" aria-expanded="false">
                                    Do you need prior knowledge?<span class="float-right"><i class="fas fa-chevron-circle-up"></i><i class="fas fa-chevron-circle-down"></i></span>
                                </a>
                            </div>
                            <div id="collapse23" class="collapse" data-parent="#accordion2">
                                <div class="card-body">
                                    <p>No prior knowledge of surveying or 3D modeling is required. You can be a beginner and still be able to grasp the information.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <a class="collapsed card-link stretched-link" data-toggle="collapse" href="#collapse24" aria-expanded="false">
                                   What will I be able to do after this course?<span class="float-right"><i class="fas fa-chevron-circle-up"></i><i class="fas fa-chevron-circle-down"></i></span>
                                </a>
                            </div>
                            <div id="collapse24" class="collapse" data-parent="#accordion2">
                                <div class="card-body">
                                    <p>This course will give you the knowledge to start performing drone based surveying jobs. You will be familiar with the types of data that need to be collected for both 2.5D (mapping) and 3D (modeling) surveying work, as well as how to effectively capture images for both cases. The information is geared towards visual photogrammetry, but the same methods apply to thermal mapping, multispectral imaging, and other remote sensors.</p>
                                </div>
                            </div>
                        </div>
                        
                
                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid py-5">
        <div class="container" style="max-width: 700px">
            <div class="row">
                <div class="col-sm-12">
                    <div class="contact-form-heading">
                        <h5 class="text-center">
                            <span style="font-size: 2rem">Got Questions?</span><br>
                            <a href="tel:+918074611720" style="font-size: 2rem; color: #009016; text-decoration: none">Talk to an Expert!</a><br><br>
                            or<br><br>
                            <span style="font-size: 1.8rem">Fill Out the Form</span>
                        </h5>
                    </div>
                    <div class="contact-form-content">
                        <div class="contact-form-main">
                            <form method="POST" class="">
                            {% csrf_token %}
                            <div class="contact-form-fields">
                                <div class="row contact-field-row-1">
                                    <div class="col-lg-6 colg-md-6 col-sm-6">
                                        <div class="form-group">
                                            {{form.first_name}}
                                        </div>
                                    </div>
                                    <div class="col-lg-6 colg-md-6 col-sm-6">
                                        <div class="form-group">
                                            {{form.last_name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row contact-field-row-2">
                                    <div class="col-lg-6 colg-md-6 col-sm-6">
                                        <div class="form-group">
                                            {{form.email}}
                                        </div>
                                    </div>
                                    <div class="col-lg-6 colg-md-6 col-sm-6">
                                        <div class="form-group">
                                            {{form.phone}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row contact-field-row-3">
                                            <div class="col-lg-12 colg-md-12 col-sm-12">
                                                <div class="form-group">
                                                    {{form.Location}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row contact-field-row-4">
                                            <div class="col-lg-12 colg-md-12 col-sm-12">
                                                <div class="form-group">
                                                    {{form.query}}
                                                </div>
                                            </div>
                                        </div>
                                <div class="row">
                                    <div class="col-lg-12 colg-md-12 col-sm-12">
                                        <div class="form-group">
                                            {{form.captcha}}

                                            {% if form.errors %}
                                            <font color="red">
                                                <br>
                                                Invalid CAPTCHA
                                            </font>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>

                                <div class="row contact-field-row-3">
                                    <div class="col-lg-12 colg-md-12 col-sm-12">
                                        <div class="form-group">
                                            <font color="grey">
                                                {{form.captcha.help_text}}
                                            </font>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-sm-12 text-center">
                                        <button type="submit" class="btn btn-success btn-block contact-form-submit">SUBMIT</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

{% endblock %}